doctype html
html
  head
    title Eurovisão — Edições
    link(rel='stylesheet', href='/w3.css')
  body
    .w3-container.w3-teal
      h2 Eurovisão — Edições
    .w3-container
      table.w3-table-all
        tr
          th ID
          th Ano
          th Organizador
          th Vencedor
        each ed in edicoes
          tr
            td
              a(href='/edicao/' + ed.id)= ed.id
            td= ed.anoEdição
            td
              a(href='/paises/' + ed.organizacao)= ed.organizacao
            td
              if ed.vencedor
                a(href='/paises/' + ed.vencedor)= ed.vencedor
              else
                | -

